<nav>
    <h2>DraftPen</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="dashboard">My Dashboard</a></li>
        <li><form action="/logout" method="post"><button type="submit">Logout</button></form></li>
    </ul>
</nav>