<nav>
    <h2>DraftPen</h2>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>
<div id="login__container">
    <div>
        {{#each errors}}
            <p>{{msg}}</p>
        {{/each}}
    </div>
    <div class="form__container">
        <h1>{{title}}</h1>
        <form action="/user/login" method="post">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
        </form>
        <p>Not a user? <a href="/user/register">Register Here</a></p>
    </div>
</div>
<footer>
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
        </ul>
</footer>