<nav>
    <h2>DraftPen</h2>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<div class="formContainer">
    <h1>{{title}}</h1>
    <form action="/user/register" method="post">
        <label for="userName">Username</label>
            <input type="text" name="username" id="userName" placeholder="Username">
        <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="E-mail">
        <label for="firstName">First Name</label>
            <input type="text" name="firstname" id="firstName" placeholder="First Name">
        <label for="lastName">Last Name</label>
            <input type="text" name="lastname" id="lastName" placeholder="Last Name">
        <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
        <label for="reEnterPassword">Re-Enter Password</label>
            <input type="password" name="reEnterPassword" placeholder="Re-Enter Password">
        <button type="submit">Submit</button>
    </form>
</div>
<p>Already a user? <a href="login">Login here</a></p>

<footer>
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
        </ul>
</footer>