
{{> sessionHeader}}

<main>
    <h1>{{title}}</h1>
    {{#each blogs}}
        <article class="article__container">
            <p class="article__title"><span class="article__label">Title: </span>{{title}}</p>
            <p class="article__post"><span class="article__label">Blog Post: </span>{{blog}}</p>
        </article>
    {{/each}}
</main>

{{> sessionFooter}}
