
{{> sessionHeader}}

<main>
    <h1>{{title}}</h1>
    {{#each blogs}}
        <article class="article__container">
            <h2><a href={{href}}>{{title}}</a></h2>
            <p>{{blog}}</p>
        </article>
    {{/each}}
</main>

{{> sessionFooter}}
