@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    margin-top: 5vh;
    background-color: #F9F9F9;
}
header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 2.5em;
    padding-left: .5em;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: $primaryNavColor;
    color: $primaryColor;
}
nav {
    width: 100%;
    display: flex;
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            width: 100%;
            font-size: .75em;
        }
        li a {
            text-decoration: none;
            color: $primaryColor;
        }
        a:hover {
            color: #D1D1D1;
        }
}
main {
    width: 100%;
}
footer {
    width: 100%;
    display: flex;
    height: 5vh;
    background-color: $primaryNavColor;
    bottom: 0;
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            width: 100%;
            font-size: 1.5em;
        }
        li a {
            text-decoration: none;
            color: $primaryColor;
        }
        a:hover {
            color: #D1D1D1;
        }
}
.block--container {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 5vh;
}
.form__container {
    width: 100%;
    h1 {
        font-size: 3.5em;
        text-align: center;
    }
    p {
        font-size: 1.5em;
    }
    form {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            width: 50%;
            height: 35px;
            font-size: 1.25em;
        }
        button {
            margin-top: 1em;
            width: 30%;
            height: 35px;
            color: $primaryColor;
            background-color: $primaryButtonColor;
            font-size: 1.35em;
        }
    }
}
.article__container {
    width: 85%;
    min-height: 225px;
    padding: 10px;
    margin: 1em auto;
    color: $primaryColor;
    background-color: #4E4C60;
    box-sizing: border-box;
    border: 1px;
    border-radius: 1em;
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1.35em;
    }
}
#login__container {
    height: 90vh;
}