* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

body {
  margin-top: 5vh;
  background-color: #F9F9F9;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 5vh;
  background-color: #30323D;
  color: white;
}

header p {
  margin-left: .75rem;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

header form {
  height: 75%;
  margin-left: 2rem;
}

header form input[type="search"] {
  height: 100%;
  font-size: 2rem;
  font-weight: 300;
  padding-left: 1rem;
  border: none;
}

header form input[type="search"]:focus {
  outline: none;
}

.bar1, .bar2, .bar3 {
  width: 3rem;
  height: .5rem;
  background-color: white;
  margin: .5rem 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu__morph .bar1 {
  -webkit-transform: rotate(-45deg) translate(-0.75rem, 0.6rem);
  transform: rotate(-45deg) translate(-0.75rem, 0.6rem);
}

.menu__morph .bar2 {
  opacity: 0;
}

.menu__morph .bar3 {
  -webkit-transform: rotate(45deg) translate(-0.68rem, -0.68rem);
  transform: rotate(45deg) translate(-0.68rem, -0.68rem);
}

.nav-hide {
  display: none;
}

nav {
  background-color: #30323D;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
}

nav li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

nav a:hover {
  color: #D1D1D1;
}

main {
  width: 100%;
  min-height: 90vh;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5vh;
  background-color: #30323D;
  bottom: 0;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
  font-size: 1.5em;
}

footer li a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #D1D1D1;
}

.block--container {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 5vh;
}

.title {
  background-color: #30323D;
  font-size: 2rem;
  margin: 15px 0px 15px 20px;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  letter-spacing: 1.7px;
}

.article__container {
  width: 100%;
  position: relative;
  min-height: 225px;
  padding: 0px 15px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.article__container p {
  font-size: 1.35em;
  font-weight: 300;
}

.article__brief {
  padding-left: 20px;
}

.article__date {
  margin: 10px 0px;
}

.article__container::after {
  content: '';
  display: block;
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 90%;
  border-bottom: 1px solid black;
}

.article__header {
  width: 100%;
  color: black;
  margin-bottom: 10px;
}

.article__header a {
  text-decoration: none;
  color: black;
  font-size: 3rem;
}

.display__blog__container {
  min-height: 90vh;
  width: 100%;
}

.display__blog__title {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}

.display__blog__author {
  text-align: center;
  font-weight: 400;
}

.display__blog__publish__date {
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px;
}

.display__blog__content {
  padding: 0px 25px;
  white-space: pre-line;
}

#login__container {
  height: 90vh;
}

.form__container {
  width: 100%;
}

.form__container h1 {
  font-size: 4.5em;
  text-align: center;
}

.form__container p {
  font-size: 2.5em;
}

.form__container form {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__container form label {
  font-size: 2em;
}

.form__container form input {
  width: 70%;
  height: 3em;
  font-size: 3.5em;
}

.form__container form button {
  margin-top: 1em;
  width: 30%;
  height: 35px;
  color: white;
  background-color: #065490;
  font-size: 1.35em;
}

.input__invalid {
  border-color: #900;
  background-color: #FDD;
}

.invalid {
  color: red;
  font-weight: 800;
  font-size: 3em;
}
/*# sourceMappingURL=main.css.map */