@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    margin-top: 5vh;
    background-color: #F9F9F9;
}
header {
    position: fixed;
    display: flex;
    z-index: 2;
    align-items: center;
    width: 100%;
    font-size: 2.5em;
    padding-left: .5em;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: $primaryNavColor;
    color: $primaryColor;
}
nav {
    width: 100%;
    display: flex;
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            width: 100%;
            font-size: .75em;
        }
        li a {
            text-decoration: none;
            color: $primaryColor;
        }
        a:hover {
            color: #D1D1D1;
        }
}
main {
    width: 100%;
    min-height: 90vh;
}
footer {
    width: 100%;
    display: flex;
    height: 5vh;
    background-color: $primaryNavColor;
    bottom: 0;
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            width: 100%;
            font-size: 1.5em;
        }
        li a {
            text-decoration: none;
            color: $primaryColor;
        }
        a:hover {
            color: #D1D1D1;
        }
}
.block--container {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 5vh;
}
.title {
    background-color: $primaryNavColor;
    margin: 15px 0px 15px 20px;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    letter-spacing: 1.7px;
}
.article__container {
    width: 100%;
    position: relative;
    min-height: 225px;
    padding: 0px 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    p {
        font-size: 1.35em;
        font-weight: 300;
    }
}
.article__brief {
    padding-left: 20px;
}
.article__date {
    margin: 10px 0px;
}
.article__container::after {
    content: '';
    display: block;
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 90%;
    border-bottom: 1px solid black;
}
.article__header {
    width: 100%;
    color: black;
    margin-bottom: 10px;
    a {
        text-decoration: none;
        color: black;
        font-size: 3rem;
    }
}
.display__blog__container {
    min-height: 90vh;
    width: 100%;
}
.display__blog__title {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
}
.display__blog__author {
    text-align: center;
    font-weight: 400;
}
.display__blog__publish__date {
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
}
.display__blog__content {
    padding: 0px 25px;
    white-space: pre-line;
}
#login__container {
    height: 90vh;
}

// form CSS
.form__container {
    width: 100%;
    h1 {
        font-size: 4.5em;
        text-align: center;
    }
    p {
        font-size: 2.5em;
    }
    form {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
            font-size: 2em;
        }
        input {
            width: 70%;
            height: 3em;
            font-size: 3.5em;
        }
        button {
            margin-top: 1em;
            width: 30%;
            height: 35px;
            color: $primaryColor;
            background-color: $primaryButtonColor;
            font-size: 1.35em;
        }
    }
}
.input__invalid {
    border-color: #900;
    background-color: #FDD;
}
.invalid {
    color: red;
    font-weight: 800;
    font-size: 3em;
}